#strength {
  position: absolute;
  top: 37%;
  display: none;
}

#dexterity {
  position: absolute;
  top: 37%;
  display: none;
}

#intelligence {
  position: absolute;
  top: 37%;
  display: none;
}

#wisdom {
  position: absolute;
  top: 16%;
  display: none;
}

#charisma {
  position: absolute;
  top: 16%;
  display: none;
}

/* MEDIA SCREEN MIN-WIDTH 600 */
@media (min-width: 600px) {
  .skill_bloc {
    display: flex;
    width: 585px;
    height: 600px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.95);
  }

  #strength {
    top: 21px;
  }
  #dexterity {
    top: 21px;
  }

  #intelligence {
    top: 21px;
  }

  #wisdom {
    top: 21px;
  }

  #charisma {
    top: 21px;
  }
}
/* MEDIA PRINT */
@media print {
  .skill_bloc {
    top: 59px;
    left: 91px;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  #strength {
    display: block;
    top: 57px;
    left: 91px;
  }
  #dexterity {
    display: block;
    top: 175px;
    left: 91px;
  }

  #intelligence {
    display: block;
    top: 575px;
    left: 91px;
  }

  #wisdom {
    display: block;
    top: 437px;
    left: 91px;
  }

  #charisma {
    display: block;
    top: 720px;
    left: 91px;
  }
}
