.heading {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
}
.bonus_combat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name_input {
  width: 70%;
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
  background-color: #e8e8e8;
  border: 1px solid black;
  height: 1.4rem;
}

.bonus_input {
  width: 70%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: #e8e8e8;
  border: 1px solid black;
  height: 1.4rem;
}

.combat_input {
  width: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: #e8e8e8;
  border: 1px solid black;
  height: 1.4rem;
}

.weapon_sub_heading {
  text-align: center;
  color: black;
  font-size: 14px;
  display: flex;
}
.weapon_name_heading {
  color: black;
  font-size: 16px;
}
.weapon_name_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrowline {
  width: 100%;
}

@media (min-width: 1024px) {
  .arrowline {
    display: none;
  }

  .weapon_fr {
    display: flex;
  }

  .weapon_sec {
    display: flex;
  }
  .weapon_third {
    display: flex;
  }
  .name_input {
    width: 100%;
    height: 1.5rem;
  }
  .bonus_input {
    width: 85%;
    height: 1.5rem;
  }
  .combat_input {
    width: 100%;
    height: 1.5rem;
  }
  .weapon_name_input {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .div_bonus {
    width: 60%;
  }
  .div_combat {
    width: 100%;
  }
  div.bonus_combat {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .bonus_combat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 4%;
  }

  .div_bonus,
  .div_combat {
    margin: 0 10px; /* Adjust the margin as needed for spacing */
  }
  .weapon_name_heading {
    margin-bottom: -6%;
  }
}

@media print {
  .name_input {
    width: 115.09px;
    height: 16px;
  }
  .weapon_name_heading {
    font-size: 9px;
    margin-bottom: -20px;
  }
  .bonus_input {
    width: 52.65px;
    height: 16px;
  }
  .combat_input {
    width: 115.09px;
    height: 16px;
  }
  .weapon_sub_heading {
    font-size: 9px;
  }
  .arrow_line {
    display: none;
  }
  .title_print {
    display: none;
  }
  div.weapon_fr {
    margin-left: -20px;
  }
  div.weapon_sec {
    margin-top: -45px;
    margin-left: -20px;
  }
  div.weapon_third {
    margin-top: -45px;
    margin-left: -20px;
  }
}
