.purse {
  width: 34.16667%;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 10px 0;
}
.purse_change {
  width: 64px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/dnd_ico/bourse.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.purse_value_content {
  border: solid 1px black;
  border-radius: 100%;
  background: var(--input-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 22px;
}
.purse_value {
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  text-align: center;
  color: var(--main-font-color);
}
.purse_title_line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.purse_title_container {
  margin: 0 10px 0 10px;
}
.purse_title {
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  text-align: center;
  color: var(--main-font-color);
}

.money_btn {
  border: solid 1px black;
  border-radius: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.money_btn_content {
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  color: var(--main-font-color);
}
.purse_exchange {
  width: 34.16667%;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}
#exchange_rate_title {
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: var(--main-font-color);
  text-align: center;
}
#exchange_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.exchange_info {
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--main-font-color);
  text-align: center;
}
.purse_money_line_DeskT {
  display: none;
}
#purse_img_print {
  display: none;
}
/* MEDIA-QUERIES SCREEN MIN-WIDTH 1024px */
@media (min-width: 1024px) {
  .purse {
    border: none;
  }
  #purse_value_content_SmartPh {
    display: none;
  }
  .money_btn_SmartPh {
    display: none;
  }
  .purse_money_line_DeskT {
    display: flex;
    align-items: flex-end;
  }
  .money_btn_DeskT {
    margin-bottom: -12px;
  }

  .purse_title {
    line-height: 30px;
  }

  .purse_exchange {
    display: none;
  }
}
/* MEDIA-QUERIES PRINT */
@media print {
  #money_btn_down {
    display: none;
  }
  #money_btn_up {
    display: none;
  }
  .purse {
    margin: 0;
    width: 20%;
    border: none;
  }
  .purse_change {
    width: 30px;
    background-image: none;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
  }
  #purse_img_print {
    display: block;
    width: 30px;
  }
  .purse_value_content {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    position: relative;
    top: -18px;
  }
  .purse_title {
    font-size: 8px;
    line-height: 0px;
  }
  .purse_value {
    display: none;
  }
  .purse_title_line {
    position: relative;
    top: -10;    margin-top: 3px;    margin-top: 3px;px;
  }
}
