.armor {
  border: 1px solid black;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  padding: 2.29%;
}
.armor_bloc_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.armor_bloc_contents {
  display: flex;
  flex-wrap: wrap;
}

.armor_heading {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 7%;
}
.armor_name {
  width: 98%;
  height: 2.975rem;
}
.armor_name_input {
  width: 100%;
  background-color: #e8e8e8;
  border: 1px solid black;
  height: 1.4rem;
}

.armor_class {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 5rem;
}
.armor_class_input {
  width: 90%;
  margin-top: 0.5rem;
  background-color: #e8e8e8;
  border: 1px solid black;
  height: 1.4rem;
}

.armor_strenght {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 5rem;
}

.armor_strenght_input {
  width: 90%;
  margin-top: 0.5rem;
  background-color: #e8e8e8;
  border: 1px solid black;
  height: 1.4rem;
}

.armor_sub_heading {
  align-self: center;
}

.armor_disadvantages {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.armor_disadvantage_input {
  width: 100%;
  margin-top: 0.5rem;
  background-color: #e8e8e8;
  border: 1px solid black;
  height: 1.4rem;
}
.armor_sub_heading {
  text-align: center;
  color: black;
  font-size: 14px;
}
.armor_name_heading {
  color: black;
}
.fleche {
  width: 12%;
  transform: rotate(180deg);
  height: 2.5rem;
}

@media (min-width: 1024px) {
  .armor {
    display: flex;
    flex-direction: column;
  }
  .fleche {
    width: 9%;
  }
  .armor_bloc_top {
    max-height: 1.5rem;
  }

  .armor_bloc_contents {
    justify-content: space-between;
    align-items: center;
  }
  .armor_name {
    width: 45%;
    height: 3rem;
    margin-top: 2%;
  }
  .armor_name_input {
    width: 100%;
    height: 3rem;
  }

  .armor_strenght {
    width: 45%;
    align-items: flex-start;
  }

  .armor_strenght_input {
    width: 100%;
    height: 3rem;
  }

  .armor_class {
    width: 45%;
    align-items: flex-end;
  }
  .armor_class_input {
    width: 100%;
    height: 3rem;
  }
  .armor_disadvantages {
    width: 45%;
    align-items: flex-end;
  }

  .armor_disadvantage_input {
    width: 100%;
    height: 3rem;
  }
}

@media print {
  .armor {
    width: 327px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
  }
  .armor_name_input {
    width: 136px;
    height: 16px;

    order: 2;
  }
  .armor_class_input {
    width: 62px;
    height: 16px;
  }
  .armor_strenght_input {
    width: 93px;
    height: 16px;
  }
  .armor_disadvantage_input {
    width: 180px;
    height: 16px;
  }
  .fleche {
    display: none;
  }
  h1.armor_heading {
    font-size: 10px;
    order: 1;
  }
  h1.armor_sub_heading {
    font-size: 10px;
  }
  .armor_class {
    display: flex;
    align-items: baseline;
    gap: 4px;
    order: 3;
  }
  .armor_strenght {
    order: 4;
  }
  .armor_disadvantages {
    order: 3;
  }
}
