.combatComponent .knightLogo {
  width: 72px;
  height: 72px;
  display: block;
  /*Sans les positions absolue*/
  /* margin: 0 0px -0.9rem 74%;*/
  position: static;
  margin-left: 78%;
  margin-bottom: -0.3rem;
}

.combatStats {
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #000000;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 28.625rem;
  width: 94%;
}
.combatStats p {
  color: black;
}

.combatStatsNoHP {
  display: flex;
  flex-direction: row;
}

.combatInit,
.combatAC,
.combatSpeed,
.combatHP {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.combatInit {
  margin-top: 6.5rem;
}
.combatSpeed {
  margin-top: 7.5rem;
}

.combatHPButton {
  position: relative;
}

.combatHPButton button {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  position: absolute;
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 5px;
  z-index: 2;
}

.combatHPButton .removeHP {
  left: 50%;
  top: 50%;
  transform: translate(-250%, -50%);
}

.combatHPButton .addHP {
  right: 50%;
  top: 50%;
  transform: translate(250%, -50%);
}

.starContainer,
.acContainer,
.speedContainer,
.hpContainer {
  position: relative;
  display: inline-block;
}

.hpText {
  font-weight: bold;
  font-size: 1.5rem;
}

.initInput {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
}

.acInput {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
}
.speedInput {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
}
.hpInput {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.7rem;
  height: 1.7rem;
  border: none;
  text-align: center;
  font-size: 1.5rem;

  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
}

.combatInit img {
  width: 92.86px;
  height: 87px;
}

.combatAC img {
  width: 87px;
  height: 87px;
}

.combatSpeed img {
  width: 77.56px;
  height: 71.19px;
}

.combatHP img {
  width: 162px;
  height: 162px;
}

@media (min-width: 1023px) {
  .combatComponent .knightLogo {
    display: none;
  }
  .combatStats {
    border: 1px solid #000000;
    /* display: block; */
    /* padding: 1.5%;
    height: 25.875rem; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    flex-wrap: wrap;
  }
  .combatStatsNo_HS_DS {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .combatStatsNoHP {
    padding-left: 0%;
    width: 70%;
    justify-content: space-evenly;
  }
  .HD_DS_1024 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
  }
  .combatHP {
    border: 1px solid #000000;
    width: 30%;
    padding: 1rem 0 0.8rem 0;
  }

  .combatInit {
    order: 2;
    margin-top: 2rem;
  }
  .combatSpeed {
    order: 3;
    margin-top: 2.7rem;
    gap: 0.7rem;
  }
  .speedContainer img {
    transform: scaleX(-1); /* Inverse l'image horizontalement */
  }
  .speedInput {
    transform: translate(120%, -50%);
  }
  .combatAC {
    order: 1;
    margin-top: 2.1rem;
  }
}
