.printDesktop {
  display: none;
}

.combatComponent .knightLogo {
  width: 72px;
  height: 72px;
  display: block;
  /*Sans les positions absolue*/
  /* margin: 0 0px -0.9rem 74%;*/
  position: static;
  margin-left: 78%;
  margin-bottom: -0.3rem;
}

.combatStats {
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #000000;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 28.625rem;
  width: 94%;
}
.combatStats p {
  color: black;
}

.combatStatsNoHP {
  display: flex;
  flex-direction: row;
}

.combatInit,
.combatAC,
.combatSpeed,
.combatHP {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.combatInit {
  margin-top: 6.5rem;
}
.combatSpeed {
  margin-top: 7.5rem;
}

.combatHPButton {
  position: relative;
}

.combatHPButton button {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  position: absolute;
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 5px;
  z-index: 2;
}

.combatHPButton .removeHP {
  left: 50%;
  top: 50%;
  transform: translate(-250%, -50%);
}

.combatHPButton .addHP {
  right: 50%;
  top: 50%;
  transform: translate(250%, -50%);
}

.starContainer,
.acContainer,
.speedContainer,
.hpContainer {
  position: relative;
  display: inline-block;
}

.hpText {
  font-weight: bold;
  font-size: 1.5rem;
}

.initInput {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
}

.acInput {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
}
.speedInput {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
}
.hpInput {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.7rem;
  height: 1.7rem;
  border: none;
  text-align: center;
  font-size: 1.5rem;

  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
}

.combatInit img {
  width: 92.86px;
  height: 87px;
}

.combatAC img {
  width: 87px;
  height: 87px;
}

.combatSpeed img {
  width: 77.56px;
  height: 71.19px;
}

.combatHP img {
  width: 162px;
  height: 162px;
}

@media (min-width: 1023px) {
  .combatComponent .knightLogo {
    display: none;
  }
  .combatStats {
    border: 1px solid #000000;
    /* display: block; */
    /* padding: 1.5%;
    height: 25.875rem; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    flex-wrap: wrap;
  }
  .combatStatsNo_HS_DS {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .combatStatsNoHP {
    padding-left: 0%;
    width: 70%;
    justify-content: space-evenly;
  }
  .HD_DS_1024 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
  }
  .combatHP {
    border: 1px solid #000000;
    width: 30%;
    padding: 1rem 0 0.8rem 0;
  }

  .combatInit {
    order: 2;
    margin-top: 2rem;
  }
  .combatSpeed {
    order: 3;
    margin-top: 2.7rem;
    gap: 0.7rem;
  }
  .speedContainer img {
    transform: scaleX(-1);
  }
  .speedInput {
    transform: translate(120%, -50%);
  }
  .combatAC {
    order: 1;
    margin-top: 2.1rem;
  }
}

@media print {
  /* .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr 1.5fr;
    grid-column-gap: 8px;
    grid-row-gap: 10px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
  .div4 { grid-area: 2 / 2 / 4 / 3; }
  .div5 { grid-area: 3 / 1 / 4 / 2; }
  .div6 { grid-area: 4 / 1 / 5 / 2; }
  .div7 { grid-area: 4 / 2 / 5 / 3; }  */

  .printDesktop {
    display: block;
  }

  .combatComponent {
    display: none;
  }

  .printCombatComponent .knightLogo {
    display: none;
  }
  .combatStats {
    border: none;
    padding: 0;
    height: auto;
  }
  .combatStatsNo_HS_DS {
    justify-content: initial;
    gap: 10px;
  }
  .combatStatsNoHP {
    width: 185px;
    height: 68px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .combatInit,
  .combatAC,
  .combatSpeed {
    margin-top: 0;
    margin-right: 10px;
  }
  .combatHPButton button {
    display: none;
  }
  .combatHP {
    width: 121px;
    height: 103px;
    padding: 10px 0 10px 0;
  }
  .combatHP img {
    width: 90px;
    height: 90px;
  }

  .hpInput {
    width: 24.5%;
    height: 17.5%;
    text-align: center;
    font-size: 11px;
  }
  .hpText {
    font-weight: bold;
    font-size: 10px;
  }

  .combatInit p,
  .combatAC p,
  .combatSpeed p,
  .combatHP p {
    font-size: 9px;
  }

  .initInput {
    font-size: 10px;
    background: none;
    border: none;
  }

  .acInput {
    font-size: 10px;
    background: none;
    border: none;
  }
  .speedInput {
    transform: translate(90%, -50%);
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .combatInit img {
    width: 32px;
    height: 30px;
  }

  .combatAC img {
    width: 31px;
    height: 30px;
  }

  .combatSpeed img {
    width: 32.84px;
    height: 32.84px;
  }
  .combatStats .HD_DS_1024 {
    display: flex;
    flex-direction: row;
  }
  .successBloc {
    width: 20px;
  }
}
