.healthDiceBlock {
  height: 6.875rem;
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #000000;
  padding: 3%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.healthDiceBlock img {
  width: 86px;
  height: 86px;
}
.healthDiceBlock p {
  color: #000000;
}
.healthDice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.healthDiceNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.healthDiceInput {
  width: 90%;
  height: 2.875rem;
  text-align: center;
  border: 1px solid #000000;
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.healthDiceNumberInput {
  width: 90%;
  height: 2.875rem;
  text-align: center;
  border: 1px solid #000000;
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.addRemoveDiceNumber {
  display: flex;
  flex-direction: row;
  position: relative; /* Utilisez position: relative */
}

.addRemoveDiceNumber button {
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-family: "Eagle Lake", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 0px;
  z-index: 2;
}

.addRemoveDiceNumber button:first-child {
  position: absolute;
  left: -9.5px;
  top: 15px;
}

.addRemoveDiceNumber button:last-child {
  position: absolute;
  right: -6.8px;
  top: 15px;
}

@media (min-width: 1023px) {
  .healthDiceBlock {
    height: 7rem;
    width: 40%;
    padding: 0 1% 0 1%;
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  .healthDiceBlock img {
    width: 60px;
    height: 60px;
  }
}
